


.register main{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 50px;
    background-color: #3A4A72;
    

}

.register main h1{
    text-align: center;
    color: white;
    padding: 15px;

}

.register main .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    color: white;

    
}
.register main .container label{
    margin-bottom: 5px;
}
.register main .container input{
    width: 94%;
    padding: 10px;
}
.register main small{
    margin-top: 5px;
color: red;

  }
  .register main button:hover {
  background: var(--main-color);
  letter-spacing: .1rem;
}
.register main button{
   
  width: 100%;
  font-size: 20px;
  background: black;
  padding: 15px;
  color: white;

    
}


.register .bottom {
  margin-bottom: 20px;
  font-size: 15px;

}

.register .button p {
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

.register .link {
  color: #fafafa;
}

.register .link:hover {
  color: var(--main-color);
}

/*
@media(max-width: 767px) {
    .register main .container input{
    width: 94%;
    padding: 9px;
    }
}

@media(max-width: 574px) {
    .register main .container input{
    width: 93%;
    padding: 8px;    
  }
}
*/
