<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-3">
                <h4>Compañía</h4>
                <ul>
                    <li><a href="/">Ir al Inicio</a></li>
                    <li><a href="#">Contáctanos</a></li>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Trabaja con nosotros</a></li>
                </ul>
            </div>
            <div class="footer-col col-md-3">
                <h4>Servicios</h4>
                <ul>
                    <li><a href="#">Ateción al cliente</a></li>
                    <li><a href="#">Medios de pago</a></li>
                    <li><a href="#">Formas de envío</a></li>
                    <li><a href="#">Cambios y Devoluciones</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>
            </div>
            <div class="footer-col col-md-3">
                <h4>Legales</h4>
                <ul>
                    <li><a href="#">Política y Privacidad</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Políticas de Cambio</a></li>
                    <li><a href="#">Defensa al consumidor</a></li>
                    <li><a href="#">Usuarios Financieros</a></li>
                </ul>
            </div>
            <div class="footer-col col-md-3">
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>

                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/js/register.js"></script>
<script src="/js/login.js"></script>