<header class="header">

    <div class="menu-nav">
        <div class="fas fa-bars" id="menu-btn"></div>

        <a href="/" class="logo">
            <img src="/img/logo/logo-tecnolife.jpg" alt="">
        </a>
    </div>

    <div class="search">

        <div class="categories">
            <div class="fas fa-bars" id="menu-btn"></div>
            <p>CATEGORIAS</p>
        </div>

        <div class="search-form">
            <input type="search" id="search-box" placeholder="Buscar aquí...">
            <label for="search-box" class="fas fa-search"></label>
        </div>

    </div>

    <div class="icons">
        <div class="fas fa-user" id="user-btn"></div>
        <div class="fas fa-heart" id="heart-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
    </div>

</header>