<header>
  <a href="/" class="logo">
    <img src="/img/logo/logo-tecnolife.jpg" alt="">
  </a>
  <div class="navigation">
    <ul class="menu">
      <div class="close-btn"></div>
      <li class="menu-item"><a href="#">
          <div class="fas fa-home" id="menu-btn"></div> INICIO
        </a></li>

      <li class="menu-item">
        <a class="sub-btn" href="#">
          <div class="fas fa-bars" id="menu-btn"></div> CATEGORÍAS</i>
        </a>
        <ul class="sub-menu">
          <li class="sub-item more">
            <a class="more-btn" href="#">Notebooks <i class="fas fa-angle-right"></i></a>
            <ul class="more-menu">
              <li class="more-item"><a href="#">Samsumg</a></li>
              <li class="more-item"><a href="#">HP</a></li>
            </ul>
          </li>
          <li class="sub-item more">
            <a class="more-btn" href="#">Celulares <i class="fas fa-angle-right"></i></a>
            <ul class="more-menu">
              <li class="more-item"><a href="#">Samsumg</a></li>
              <li class="more-item"><a href="#">Xiami</a></li>
            </ul>
          </li>
          <li class="sub-item more">
            <a class="more-btn" href="#">Auriculares</a>
          </li>
          <li class="sub-item more">
            <a class="more-btn" href="#">Televisores <i class="fas fa-angle-right"></i></a>
            <ul class="more-menu">
              <li class="more-item"><a href="#">Samsumg</a></li>
              <li class="more-item"><a href="#">Phillips</a></li>
            </ul>
          </li>
          <li class="sub-item more">
            <a class="more-btn" href="#">Parlantes</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a class="sub-btn" href="#">
          <div class="fas fa-user" id="user-btn"></div> CUENTA
        </a>
        <ul class="sub-menu">
          <li class="sub-item"><a href="#">Iniciar Sesión</a></li>
          <li class="sub-item"><a href="#">Registrarse</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a class="sub-btn" href="#">
          <div class="fas fa-shopping-cart" id="cart-btn"></div> CARRITO
        </a>
        <ul class="sub-menu">
          <li class="sub-item"><a href="#">EN DESARROLLO (.-.)</a></li>
        </ul>
      </li>

      <!-- Search -->

      <div class="search-box">
        <input type="text" placeholder="Type to search..">
        <div class="search-icon">
          <i class="fas fa-search"></i>
        </div>
        <div class="cancel-icon">
          <i class="fas fa-times"></i>
        </div>
        <!-- <div class="search-data">
        </div> -->
      </div>

    </ul>
  </div>
  <div class="menu-btn"></div>
</header>
  <script src="/js/header.js"></script>