<header class="header">

    <div class="menu-nav">
        <div class="fas fa-bars" id="menu-btn"></div>

        <a href="/" class="logo">
            <img src="/img/logo/logo-tecnolife.jpg" alt="">
        </a>
    </div>

    <div class="buscar">

        <div class="categories">
            <div class="fas fa-bars" id="menu-btn"></div>
            <p>CATEGORIAS</p>
        </div>

        <div class="buscar-form">
            <input type="search" id="buscar-box" placeholder="Buscar aquí...">
            <label for="buscar-box" class="fas fa-search"></label>
        </div>

    </div>

    <div class="icons">       <% if (locals.userLogin && locals.userLogin.rol === "admin") { %>
        <li><a href="/admin/list">Admin</a></li>
    <% } %>
        <div class="fas fa-user" id="user-btn"></div>
        <div class="fas fa-heart" id="heart-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
             <% if (locals.userLogin) { %>
                    <li><a href="/users/perfil">Bienvenido <%= locals.userLogin.nombre %> </a></li>
                <% } else { %>
                    <li><a href="/users/login">Login</a></li>
                    <li><a href="/users/register">Registro</a></li>
                <% } %>
    </div>

</header>