.contenedor-carteles2 {
    display: flex;
    flex-direction: column;
}

.contenedor-carteles2 .carteles2 {
    padding: 17px 0;
    border: 2px solid black;
    background-color: #c4c4c4;
    color: whitesmoke;
    margin-bottom: 8px;
    text-align: center;
}

.contenedor-carteles2 .carteles2:nth-child(2):nth-child(2) {
    background-color: #2D3C60;
}

.titular,
.tipoDeEnvio,
.datosDeEnvio,
.factura {
    background-color: #2D3C60;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    margin: 40px 0;
}

.titular div,
.datosDeEnvio div {
    padding: 12px 0;
}

.titular h2,
.tipoDeEnvio h2,
.datosDeEnvio h2,
.factura h2 {
    padding: 25px 0;
    color: white;
    text-align: center;
}

.titular small,
.datosDeEnvio small {
    color: #ed4b4b;
    margin: 0 0 0 27px;
}

.factura small {
    display: flex;
    color: #ed4b4b;
    margin: 10px 0 10px 5px;
}

.titular input,
.tipoDeEnvio select,
.datosDeEnvio input,
.factura select {
    display: flex;
    width: 85%;
    margin: 0 0 0px 26.5px;
    padding: 8px 0;
}

.tipoDeEnvio .correo {
    margin-bottom: 30px;
}

.contenedor-continuar2 {
    display: flex;
    justify-content: center;
}

.contenedor-continuar2 h3 {
    margin: 10px 0 10px 0;
}

.contenedor-continuar2 a {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.contenedor-continuar2 button {
    background-color: #3a4a72;
    padding: 8px 0px;
    margin: 8px 0px 12px 0px;
    border-radius: 50px;
    width: 20%;
    border: solid 1px #3a4a72;
}

.contenedor-continuar2 button:active {
    background-color: #232a3f;
}

@media screen and (min-width:415px) and (max-width:744px) {
    .contenedor-carteles2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .contenedor-carteles2 .carteles2 {
        width: 35%;
    }

    .titular,
    .tipoDeEnvio,
    .datosDeEnvio,
    .factura {
        background-color: #2D3C60;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .titular input,
    .tipoDeEnvio select,
    .datosDeEnvio input,
    .factura select {
        display: flex;
        width: 70%;
        margin: 0 0 0px 15%;
        padding: 8px 0;
    }

    .titular small,
    .datosDeEnvio small {
        color: #ed4b4b;
        margin: 0 0 0 15%;
    }

    .factura small {
        display: flex;
        justify-content: center;
        color: #ed4b4b;
    }
}

@media screen and (min-width:745px) and (max-width:1024px) {
    .contenedor-carteles2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .contenedor-carteles2 .carteles2 {
        width: 35%;
    }

    .titular,
    .tipoDeEnvio,
    .datosDeEnvio,
    .factura {
        background-color: #2D3C60;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .titular input,
    .tipoDeEnvio select,
    .datosDeEnvio input,
    .factura select {
        display: flex;
        width: 50%;
        margin: 0 0 0px 25%;
        padding: 8px 0;
    }

    .titular small,
    .datosDeEnvio small {
        color: #ed4b4b;
        margin: 0 0 0 25%;
    }

    .factura small {
        display: flex;
        justify-content: center;
        color: #ed4b4b;
    }
}

@media screen and (min-width:1025px) and (max-width:1440px) {
    .contenedor-carteles2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .contenedor-carteles2 .carteles2 {
        width: 35%;
    }

    .titular,
    .tipoDeEnvio,
    .datosDeEnvio,
    .factura {
        background-color: #2D3C60;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .titular input,
    .tipoDeEnvio select,
    .datosDeEnvio input,
    .factura select {
        display: flex;
        width: 50%;
        margin: 0 0 0px 25%;
        padding: 8px 0;
    }

    .titular small,
    .datosDeEnvio small {
        color: #ed4b4b;
        margin: 0 0 0 25%;
    }

    .factura small {
        display: flex;
        justify-content: center;
        color: #ed4b4b;
    }
}

@media screen and (min-width:1441px) and (max-width:1920px) {
    .contenedor-carteles2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .contenedor-carteles2 .carteles2 {
        width: 35%;
    }

    .titular,
    .tipoDeEnvio,
    .datosDeEnvio,
    .factura {
        background-color: #2D3C60;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .titular,
    .tipoDeEnvio,
    .datosDeEnvio,
    .factura {
        background-color: #2D3C60;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .titular input,
    .tipoDeEnvio select,
    .datosDeEnvio input,
    .factura select {
        display: flex;
        width: 50%;
        margin: 0 0 0px 25%;
        padding: 8px 0;
    }

    .titular small,
    .datosDeEnvio small {
        color: #ed4b4b;
        margin: 0 0 0 25%;
    }

    .factura small {
        display: flex;
        justify-content: center;
        color: #ed4b4b;
    }
}