.header{
    background: var(--header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 3%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 3rem;
    border-radius: 50%;
}

/* Start menu btns */

.header #menu-btn{
    color:#fff;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 0.2rem;
}

.header .icons{
    color:#fff;
    cursor: pointer;
    font-size: 2rem;
}

.header .icons #heart-btn:hover{
    color:var(--main-color);
}

.header .icons #cart-btn:hover{
    color:var(--main-color);
}

.header .icons #cart-btn {
    margin-left: 0.5rem;
}

/* Ends menu btns */

/* Start Search form */

.header .search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .search .categories{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    padding: 8px 1%;
    border-radius: 2px 0px 0px 2px;
}

.header .search .categories p{
    color:#fff;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 0.2rem;
}

.header .search-form{
    background: #fff;
    width: 25rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    border-radius: 25px;
}

.header .search .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 1.3rem;
    margin-right: 1rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}

/* Ends search form */