.registro main {
  border-radius: 0.5rem;
  background-color: #3A4A72;
  width: 35%;
  margin: 0 auto;
  padding: 30px 0 40px 0;
  margin-bottom: 60px;
  margin-top: 60px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.registro main h1 {
  text-align: center;
  padding: 20px 0;
}

.registro main .container label {
  margin-bottom: 5px;
}

.registro main .container input {
  display: flex;
  margin: 0 0 0 8%;
  width: 85%;
  padding: 9px;
}

.registro main small {
  margin: 5px 0 0 8%;
  color: #ed4b4b;
}

.registro main button {
  border-radius: 0.5rem;
  width: 85%;
  margin: 0 0 0 8%;
  color: #e1dfdf;
  font-size: 15px;
  background: #000000;
  padding: 15px 20px;
}

.registro main button:hover {
  background: #e4a457;

}

.registro .bottom {
  margin-bottom: 20px;
}

.registro .button p {
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

.link {
  color: #fafafa;
}

.link:hover {
  color: #e4a457;
}