:root{
    --main-color:#d3ad7f;
    --main-color2:#F3A847;
    --azul1:#2D3C60;
    --azul2:#2F2F6D;
    --header2:#232F3E;
    --fa: #fafafa;
    --black:#09090a;
    --border:.1rem solid #d3ad7f;
    --border2:.1rem solid #2F2F6D;
}