<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %> 


<body class="profile">

    <%- include('./partials/header') %> 

	<main class="profile">
		<div class="row">
			<div >
				<h3>BIENVENIDO DE VUELTA</h3>
				<div class="UserAvatar">
				<img id="avatar" src="/images.jpg" alt="" >
				</div>
				
				<div class="usuarioEmail">hola@gmail.com</div>
			</div>
			<form action="">
                <button class="button button1" type="submit"> EDITAR DATOS </button>
				<form action="" method="post">
					<button  class="button button1" type="submit">Cerrar Sesion</button>
				</form>
              </form>
		</div>
	</div>
	</main>

	<%- include('./partials/footer') %> 

</body>
</html>