<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %> 

<body class="registro">

    <%- include('./partials/header') %> 

    <main>
        <h1>Crear cuenta</h1>
        <form action="" method="post">
            <div class="container bottom">
                <input type="text" name="name" id="name" placeholder="Ingresa tu nombre y apellido" required>
                <small>Debe ingresar nombre y apellido</small>
            </div>
            <div class="container bottom">
                <input type="text" name="name" id="name" placeholder="Ingresa tu email" required>
                <small>Debe ingresar tu email</small>
            </div>
            <div class="container bottom">
                <input type="password" name="name" id="name" placeholder="Ingresa tu contraseña" required>
                <small>Debe ingresar su contraseña</small>
            </div>
            <div class="container bottom">
                <input type="password" name="name" id="name" placeholder="Confirme su contraseña" required>
                <small>Debe confirmar su contraseña</small>
            </div>
            <div class="button">
                <button class = "spacing">REGISTRARSE</button>
                <p>¿Ya tenés creada una cuenta?</p>
                <p><a class="link" href="/login">Inicia sesión aquí</a></p>
            </div>
        </form>
    </main>

    <%- include('./partials/footer') %> 
</body>



</html>