.login main{
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 50px;
    background-color: #3A4A72;
    

}
.login main h1{
    text-align: center;
    color: white;
}

.login main .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    font-weight: bold;
    color: white;

    
}
.login main .container label{
    margin-bottom: 5px;
}
.login main .container input{
    width: 94%;
    padding: 10px;
}
.login main small{
    margin-top: 5px;
color: red;

  }
  .login main button:hover {
  background: var(--main-color);
  letter-spacing: .1rem;
}
.login main button{
   
  width: 100%;
  font-size: 20px;
  background: black;
  padding: 15px;
  color: white;

    
}


.login .bottom {
  margin-bottom: 20px;
  font-size: 15px;

}

.login .button p {
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

.link {
  color: #fafafa;
}

.link:hover {
  color: var(--main-color);
}


@media(max-width: 767px) {
    .login main .container input{
    width: 94%;
    padding: 9px;
    }
}

@media(max-width: 574px) {
    .login main .container input{
    width: 93%;
    padding: 8px;    
  }
}
