<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %> 



<body>

    <%- include('./partials/header') %> 

    <section class="contenedor-carteles2">
        <div class="carteles2">
            <p>Carrito</p>
        </div>
        <div class="carteles2">
            <p>Verificar Compra</p>
        </div>
        <div class="carteles2">
            <p>Forma de Pago</p>
        </div>
    </section>
    <section class="titular">
        <h2>Datos del titular</h2>
        <div>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre">
            <small>*Obligatorio</small>
        </div>
        <div>
            <input type="text" name="apellido" id="apellido" placeholder="Apellido">
            <small>*Obligatorio</small>
        </div>
        <div>
            <input type="text" name="numeroDeDocumento" id="numeroDeDocumento" placeholder="Número de Documento">
            <small>*Obligatorio</small>
        </div>
        <div>
            <input type="email" name="e-mail" id="e-mail" placeholder="E-mail">
            <small>*Opcional</small>
        </div>
        <div>
            <input type="tel" name="telefono" id="telefono" placeholder="Teléfono">
            <small>*Obligatorio</small>
        </div>
    </section>
    <section class="tipoDeEnvio">
        <h2>Elija sucursal</h2>
        <select name="tipoDeEnvio" id="tipoDeEnvio">
            <option value="lorem">San Miguel</option>
            <option value="lorem">Pilar</option>
            <option value="lorem">Capital Federal</option>
            <option value="lorem">La Plata</option>
        </select>
        <h2>Elija su correo</h2>
        <select name="correo" id="correo" class="correo">
            <option value="lorem">Correo Argentino</option>
            <option value="lorem">Andriani</option>
            <option value="lorem">Moto Particular</option>
        </select>
    </section>
    <section class="datosDeEnvio">
        <h2>Datos para el envío</h2>
        <div>
            <input type="number" name="codigoPostal" id="codigoPostal" placeholder="C.Postal">
            <small>*Obligatorio</small>
        </div>
        <div>
            <input type="text" name="ciudad" id="ciudad" placeholder="Ciudad">
            <small>*Obligatorio</small>
        </div>
        <div>
            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
            <small>*Obligatorio</small>
        </div>
    </section>
    <section class="factura">
        <h2>Datos para la facturación</h2>
        <select name="factura" id="factura">
            <option value="factura">Consumidor Final</option>
            <option value="factura">Factura tipo A</option>
        </select>
        <small>*Tené en cuenta que si solicitas factura A, nosotros somos agentes de percepción de Ingresos Brutos de
            C.A.B.A.</small>
    </section>
    <section class="contenedor-continuar2">
        <button class="continuar"><a href="">Continuar al método de pago</a></button>
    </section>

    <%- include('./partials/footer') %> 
</body>

</html>