<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %> 

<body>

    <%- include('./partials/header') %> 

    <section class="dProducto">
        <section class="imagen-grande">
            <img src="/img/products/img-1.webp" width="100%" class="imagen-pequeña" alt="">

            <div class="grupo-imagenes-pequeñas">
                <div class="columna-imagenes-pequeñas">
                    <img src="/img/products/img-1.webp" width="100%" class="imagen-pequeña" alt="">
                </div>
                <div class="columna-imagenes-pequeñas">
                    <img src="/img/products/img-2.jpg" width="100%" class="imagen-pequeña" alt="">
                </div>
                <div class="columna-imagenes-pequeñas">
                    <img src="/img/products/img-3.jpg" width="100%" class="imagen-pequeña" alt="">
                </div>
                <div class="columna-imagenes-pequeñas">
                    <img src="/img/products/img-4.png" width="100%" class="imagen-pequeña" alt="">
                </div>
            </div>
        </section>
        <section class="especificacion-producto">
            <h2>Notebook Acer Predator I7 11va 16gb Ssd Rtx3060 Gamer</h2>
            <h4>Online: $329.999</h4>
            <h4>12 x $27.449,91 CUOTAS SIN INTERÉS</h4>
            <button class="boton-carrito"><a href="/procesoDeCompra1">Añadir al Carrito</a></button>
        </section>
    </section>
    <section class="info-producto">
        <div>
            <h3>ESPECIFICACIONES</h3>
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur molestiae laborum error ipsa
                perferendis non ratione provident fugiat dolores, beatae, quaerat amet illum quasi aperiam modi at.
                Officia, porro totam.</h5>
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur molestiae laborum error ipsa
                perferendis non ratione provident fugiat dolores, beatae, quaerat amet illum quasi aperiam modi at.
                Officia, porro totam.</h5>
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur molestiae laborum error ipsa
                perferendis non ratione provident fugiat dolores, beatae, quaerat amet illum quasi aperiam modi at.
                Officia, porro totam.</h5>
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur molestiae laborum error ipsa
                perferendis non ratione provident fugiat dolores, beatae, quaerat amet illum quasi aperiam modi at.
                Officia, porro totam.</h5>
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur molestiae laborum error ipsa
                perferendis non ratione provident fugiat dolores, beatae, quaerat amet illum quasi aperiam modi at.
                Officia, porro totam.</h5>
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur molestiae laborum error ipsa
                perferendis non ratione provident fugiat dolores, beatae, quaerat amet illum quasi aperiam modi at.
                Officia, porro totam.</h5>
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur molestiae laborum error ipsa
                perferendis non ratione provident fugiat dolores, beatae, quaerat amet illum quasi aperiam modi at.
                Officia, porro totam.</h5>
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur molestiae laborum error ipsa
                perferendis non ratione provident fugiat dolores, beatae, quaerat amet illum quasi aperiam modi at.
                Officia, porro totam.</h5>
        </div>
    </section>

    <%- include('./partials/footer') %> 

</body>

</html>