<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/1a451b1708.js" crossorigin="anonymous"></script>
        <!-- Css -->
        <link rel="stylesheet" href="/css/register.css">
        <title></title>
    </head>
    <body class="login">


<main>

    <h1>Crear cuenta</h1>
    <form action="" method="post">
        <div class="container bottom">
            <label for="name">Nombre y apellido</label>
            <input type="text" name="name" id="name" placeholder="Ingresa tu nombre y apellido" required>
            <small>Debe ingresar su nombre y apellido</small>
        </div>
                <div class="container bottom">
            <label for="name">Email</label>
            <input type="text" name="name" id="name" placeholder="Ingresa tu email" required>
            <small>Debe ingresar su email</small>
        </div>
        <div class="container bottom">
            <label for="name">Contraseña</label>
            <input type="password" name="name" id="name" placeholder="Ingresa tu contraseña" required>
            <small>Debe ingresar su contraseña</small>
        </div>
                <div class="container bottom">
            <label for="name">Confirmar contraseña </label>
            <input type="password" name="name" id="name" placeholder="Ingresa tu contraseña" required>
            <small>Debe ingresar su contraseña </small>
        </div>
                 <div class="button">
            <button class = "spacing">REGISTRARSE</button>
                <p>¿Ya tenés creada una cuenta?</p>
                <p><a class="link" href="/ingresar">Inicia sesión aquí</a></p>
            </div>
    </form>
 
</main>
</body>

</html>