<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

            <div class="wrapper">
                <aside>
                    <header>
                        <h1 class="logo">Tecnolife</h1>
                    </header>
                    <nav>
                        <ul>
                            <li>
                                <a class="boton-menu boton-volver" href="./index.html">
                                    <i class="bi bi-arrow-return-left"></i> Home
                                </a>
                            </li>
                            <li>
                                <a class="boton-menu boton-volver" href="./index.html">
                                    <i class="bi bi-arrow-return-left"></i> Seguir comprando
                                </a>
                            </li>
                            <li>
                                <a class="boton-menu boton-carrito active" href="./carrito.html">
                                    <i class="bi bi-cart-fill"></i> Carrito
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <footer>
                        <p class="texto-footer">© 2022 Tecno Life</p>
                    </footer>
                </aside>
                <main>
                    <h2 class="titulo-principal">Carrito</h2>
                    <div class="contenedor-carrito">
                        <p id="carrito-vacio" class="carrito-vacio">Tu carrito está vacío. <i
                                class="bi bi-emoji-frown"></i></p>

                        <div id="carrito-productos" class="carrito-productos disabled">
                            <!-- Esto se va a completar con el JS -->
                        </div>

                        <div id="carrito-acciones" class="carrito-acciones disabled">
                            <div class="carrito-acciones-izquierda">
                                <button id="carrito-acciones-vaciar" class="carrito-acciones-vaciar">Vaciar
                                    carrito</button>
                            </div>
                            <div class="carrito-acciones-derecha">
                                <div class="carrito-acciones-total">
                                    <p>Total:</p>
                                    <p id="total">$3000</p>
                                </div>
                                <button id="carrito-acciones-comprar" class="carrito-acciones-comprar">Comprar
                                    ahora</button>
                            </div>
                        </div>

                        <p id="carrito-comprado" class="carrito-comprado disabled">Muchas gracias por tu compra. <i
                                class="bi bi-emoji-laughing"></i></p>

                    </div>
                </main>

                <script src="./js/carrito.js"></script>

    </body>

    <%- include('./partials/footer') %> 

</html>