<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %> 

<body class="categorias">

    <%- include('./partials/header') %> 

    <div class="wrapper">
        <aside>
            <header>
                <h1 class="logo">Categorías</h1>
            </header>
            <nav>
                <ul class="menu">
                    <li>
                        <button id="todos" class="boton-menu boton-categoria active"><i class="bi bi-hand-index-thumb-fill"></i> Todos los productos</button>
                    </li>
                    <li>
                        <button id="Notebooks" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> Notebooks</button>
                    </li>
                    <li>
                        <button id="Celulares" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> Celulares</button>
                    </li>
                    <li>
                        <button id="Auriculares" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> Auriculares</button>
                    </li>
                    <li>
                        <button id="Televisores" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> Televisores</button>
                    </li>
                    <li>
                        <button id="Parlantes" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> Parlantes</button>
                    </li>
                    <li>
                        <a class="boton-menu boton-carrito" href="./carrito.">
                            <i class="bi bi-cart-fill"></i> Carrito <span id="numerito" class="numerito">0</span>
                        </a>
                    </li>

                    <li>
                        <a class="boton-menu boton-volver" href="./categories">
                            <i class="bi bi-arrow-return-left"></i> Home
                        </a>
                    </li>
                </ul>
            </nav>
            <footer>
                <p class="texto-footer">© 2022 Tecno Life</p>
            </footer>
        </aside>
        <main>
            <h2 class="titulo-principal" id="titulo-principal">Todos los productos</h2>
            <div id="contenedor-productos" class="contenedor-productos">
                <!-- Esto se va a rellenar con JS -->
            </div>
        </main>
    </div>
    
    
    <script src="./js/categories.js"></script>
    
    <%- include('./partials/footer') %> 
    
</body>

</html>