<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %> 

<body>

    <%- include('./partials/header') %> 

    <section class="nav">
        <ul class="list">

            <li class="list__item list__item--click">
                <div class="list__button list__button--click" id="btn-1">
                    <a href="#" class="nav__link">Servicios</a>
                    <p class="list__arrow"><i class="fas fa-angle-right"></i></p>
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>
                </ul>

            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <a href="#" class="nav__link">Servicios</a>
                    <p class="list__arrow"><i class="fas fa-angle-right"></i></p>
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>
                </ul>

            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <a href="#" class="nav__link">Servicios</a>
                    <p class="list__arrow"><i class="fas fa-angle-right"></i></p>
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>
                </ul>

            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <a href="#" class="nav__link">Servicios</a>
                    <p class="list__arrow"><i class="fas fa-angle-right"></i></p>
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>
                </ul>

            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <a href="#" class="nav__link">Servicios</a>
                    <p class="list__arrow"><i class="fas fa-angle-right"></i></p>
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>
                </ul>

            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <a href="#" class="nav__link">Servicios</a>
                    <p class="list__arrow"><i class="fas fa-angle-right"></i></p>
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>
                </ul>

            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <a href="#" class="nav__link">Servicios</a>
                    <p class="list__arrow"><i class="fas fa-angle-right"></i></p>
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>
                </ul>

            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <a href="#" class="nav__link">Servicios</a>
                    <p class="list__arrow"><i class="fas fa-angle-right"></i></p>
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>
                </ul>

            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <a href="#" class="nav__link">Servicios</a>
                    <p class="list__arrow"><i class="fas fa-angle-right"></i></p>
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>
                </ul>

            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <a href="#" class="nav__link">Servicios</a>
                    <p class="list__arrow"><i class="fas fa-angle-right"></i></p>
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                    </li>
                </ul>

            </li>

        </ul>
    </section>

    <%- include('./partials/footer') %> 
    
    <script src="site/main.js"></script>
</body>

</html>