<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img class="rounded-circle mt-5" width="150px" src="/css/img/perfil-pixlr-bg-result.png">
          <span class="font-weight-bold">Nombre de usuario</span><span class="text-black-50">@mail.com</span>
        </div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Configuración de perfil</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <label class="labels">Nombre</label>
              <input type="text" class="form-control" placeholder="" value="">
            </div>
            <div class="col-md-6"><label class="labels">Apellido</label><input type="text" class="form-control" value=""
                placeholder="">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12"><label class="labels">Número de teléfono</label><input type="text"
                class="form-control" placeholder="" value="">
            </div>
            <div class="col-md-12"><label class="labels">Dirección Línea 1</label><input type="text"
                class="form-control" placeholder="" value="">
            </div>
            <div class="col-md-12"><label class="labels">Dirección Línea 2</label><input type="text"
                class="form-control" placeholder="" value="">
            </div>
            <div class="col-md-12"><label class="labels">Código postal</label><input type="text" class="form-control"
                placeholder="" value="">
            </div>
            <div class="col-md-12"><label class="labels">Provincia</label><input type="text" class="form-control"
                placeholder="" value="">
            </div>
            <div class="col-md-12"><label class="labels">Ciudad</label><input type="text" class="form-control"
                placeholder="" value="">
            </div>
            <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control"
                placeholder="" value="">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <label class="labels">Pais</label><input type="text" class="form-control" placeholder="" value="">
            </div>
            <div class="col-md-6">
              <label class="labels">Estado</label><input type="text" class="form-control" value="" placeholder="">
            </div>
          </div>
          <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" type="button">Guardar Perfil</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('./partials/footer') %>
</body>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"></script>
</html>