<!DOCTYPE html>
<html lang="es">

<!-- Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<!-- font awesome cdn link  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<body class="crear-editar">
        <main>
            <h1>Creando un producto nuevo</h1>
            <form action="/admin/create" method="post" enctype="multipart/form-data">
                <section>
                    <div class="form-floating m-2">
                        <input type="text" name="Marca" class="form-control" id="Marca" placeholder="Marca">
                        <label for="Marca">Marca</label>
                        <small>Obligatorio</small>
                    </div>
                    <div class="form-floating">
                        <input type="text" name="Titulo" class="form-control" id="Titulo" placeholder="Titulo">
                        <label for="Titulo">Titulo</label>
                        <small>Obligatorio</small>
                    </div>
                    <div class="form-floating m-2">
                        <select class="form-select" name="Categoria" id="floatingSelect"
                            aria-label="Floating label select example">
                            <option selected hidden>Selecciona una opcion</option>
                            <option value="Smartphones">Smartphones</option>
                            <option value="Tablets">Tablets</option>
                            <option value="Notebooks">Notebooks</option>
                        </select>
                        <label for="floatingSelect">Categoria</label>
                        <small>Obligatorio</small>
                    </div>
                    <div class="form-floating m-2">
                        <input type="number" name="Precio" class="form-control" id="Precio" placeholder="Precio">
                        <label for="Precio">Precio</label>
                        <small>Obligatorio</small>
                    </div>
                    <div class="form-floating m-2">
                        <input type="number" name="Descuento" class="form-control" id="Descuento" value="0"
                            placeholder="Descuento">
                        <label for="Descuento">Descuento</label>
                    </div>
                    <div class="form-floating m-2">
                        <input type="number" name="Stock" class="form-control" id="Stock" placeholder="Stock">
                        <label for="Stock" value="1">Stock</label>
                    </div>
                    <div class="form-floating m-2">
                        <textarea class="form-control" name="Descripcion"
                            placeholder="Por favor inserte la descripcion del producto"
                            id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Descripcion</label>
                        <small>Obligatorio</small>
                    </div>
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Subir imagenes del producto</label>
                        <input class="form-control" name="imagenes" type="file" id="formFileMultiple" multiple>
                        <small>Obligatorio</small>
                    </div>

                    <div class="button">
                        <button class="btn btn-outline-success" type="submit">Crear Producto</button>
                    </div>

                </section>
            </form>
        </main>
</body>

</html>