<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %> 

    <body class="crear-editar">

    <%- include('./partials/header') %> 

    <main>
        <h1>Crear producto nuevo</h1>
  
        <form action="/admin/create" method="post" enctype="multipart/form-data">
            <section>
                <div class="form-floating m-2">
                    <input type="text" name="Marca" class="form-control" id="marca" placeholder="Marca">
                    <label for="marca">Marca</label>
                    <small>Obligatorio</small>
                </div>
                <div class="form-floating m-2">
                    <input type="text" name="Titulo" class="form-control" id="Titulo" placeholder="Titulo">
                    <label for="Titulo">Titulo</label>
                    <small>Obligatorio</small>
                </div>
                <div class="form-floating m-2">
                    <select class="form-select" name="Categoria" id="floatingSelect" aria-label="Floating label select example">
                      <option selected hidden>Selecciona una opcion</option>
                      <option value="Smartphones">Smartphones</option>
                      <option value="Tablets">Tablets</option>
                      <option value="Teclados y mouses">Teclados y mouses</option>
                      <option value="Oficina">Oficina</option>
                      <option value="Mothers y combos">Mothers y combos</option>
                      <option value="Memorias Ram">Memorias Ram</option>
                      <option value="Monitores y Televisores">Monitores y Televisores</option>
                      <option value="Joysticks y periféricos">Joysticks y periféricos</option>
                      <option value="Consolas de Video">Consolas de Video</option>
                      <option value="Equipos y Notebooks">Equipos y Notebooks</option>
                      <option value="Placas de Video y otras">Placas de Video y otras</option>

                    </select>
                    <label for="floatingSelect">Categoria</label>
                    <small>Obligatorio</small>
                  </div>
                <div class="form-floating m-2">
                    <input type="number" name="Precio" class="form-control" id="Precio" placeholder="Precio">
                    <label for="Precio">Precio</label>
                    <small>Obligatorio</small>
                </div>
                <div class="form-floating m-2">
                    <input type="number" name="Descuento" class="form-control" id="Descuento" value="0" placeholder="Descuento">
                    <label for="Descuento">Descuento</label>
                </div>
                <div class="form-floating m-2">
                    <input type="number" name="Stock" class="form-control" id="Stock" placeholder="Stock">
                    <label for="Stock" value="1">Stock</label>
                </div>
                <div class="form-floating m-2">
                    <textarea class="form-control" name="Descripcion" placeholder="Por favor inserte la descripcion del producto"
                        id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Descripcion</label>
                    <small>Obligatorio</small>
                </div>
  
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Subir imagenes del producto</label>
                    <input class="form-control" type="file" id="formFileMultiple" name="imagenes" multiple>
                    <small>Obligatorio</small>
                </div>
  
  
                
                
                <div class="button">
                    <button class="btn btn-outline-success" type="submit">Crear Producto</button>
                </div>
                
            </section>
        </form>
    </main>
    <%- include('./partials/footer') %> 

</body>

</html>